body{
    background-color: grey;
}

.title{
/*     background-color: black;
 */    color: white;
    font-size: 1.5em ;
}

#titulo-principal{
    color: rgb(214, 167, 167);
    font-size: 3em;
}

.pie-principal{
    color: rgb(196, 196, 196);
    margin: auto;    
}

.fotos{
    border: 2px solid black;
    width: fit-content;
    padding: 1em 1em 2em 1em;
    border-radius: 10%;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.fotos:hover{
    background-color: rgb(221, 124, 124);
}

.fotopipis{
    width: 10em ;
    height: auto;
    
}

#títulos{
    /* border: 2px solid black; */
    width: 65vw;
    margin: auto;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor-fotos{
/*     background-color: blue; */
    width: 85vw;
    margin: auto;
    margin-top: 1.5em;
    border: 5px solid blueviolet;
    border-radius: 15px;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

/* .fotos > .title{
    text-align: center;
} */